.navbar-container {
  transition: all 0.3s ease;

  z-index: 100000 !important;
  width: 100%;
  /* padding-left: 20px !important; */
  transition: all 500ms linear;
}
.menubar-mt {
  top: 0px !important;
}
.navbar-container.fixed {
  position: fixed;
  top: 0; /* Stick to the top */
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #242833; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: all 500ms linear !important;
}
/* ----------drower cart ------- */

@media (max-width: 700px) {
  .drawer-Cart {
    width: 95% !important;
  }
}
@media (min-width: 950px) {
  .menu-bar {
    display: none !important;
  }
}
@media (max-width: 950px) {
  .all-menus-link {
    display: none !important;
  }
}
.navbar-container:not(.fixed) {
  padding: 16px 0px !important;
}

.transition-height {
  transition: height 0.3s ease;
  overflow: hidden;
}

/* ------------ navbar menu link text --------- */

.menu-text-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.5s ease;
  bottom: 0;
  left: 0;
}

.menu-text-link:hover::before {
  transform: scaleX(1);
}
