@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Righteous");

.arrow-wrapper:hover h1 {
  opacity: 1;
}

/* ---------- insite banner contain------- */

@media (max-width: 600px) {
  #arrow_2 .arrow:before {
    font-weight: 900;
    top: 12px !important;
    width: 15px !important;
    height: 15px !important;
  }
}

.btn-gradient {
  width: 200px;
  height: 39px;
  flex-shrink: 0;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14.93px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.169px;
  /* ---- important--- */
  z-index: 10;
  box-shadow: 0px 5.07895px 10.15789px 0px rgba(0, 0, 0, 0.2) inset,
    0px -5.07895px 10.15789px 0px rgba(0, 0, 0, 0.2) inset,
    0px 3.38596px 30.47368px 0px rgba(255, 255, 255, 0.12) inset,
    0px -3.38596px 30.47368px 0px rgba(255, 255, 255, 0.12) inset;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(0px);
}
.banner-image-attachment {
  background-attachment: fixed !important;
  top: 0;
}

.btn-gradient {
  background-color: transparent !important;
  border-radius: 20px;
}
.btn-gradient::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: inherit; */
  inset: 0;
  border-radius: 20px;
  padding: 1.5px;
  background: linear-gradient(
    91deg,
    #ffd6708e 8.81%,
    #ff70ac8f 29.16%,
    #ec70ffab 49.51%,
    #9d70ffb6 69.86%,
    #70b7ffb3 90.2%
  );
  -webkit-mask: linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: 2s ease-in-out;
}

#arrow_2 .arrow {
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  transition: transform 0.3s;
}

#arrow_2 .arrow span {
  display: block;
  width: 3em;
  opacity: 0;
  transition: opacity 0.3s 0s;
  padding: 0 0.5em;
}

#arrow_2 .arrow:hover span {
  opacity: 1;
  transition: opacity 0.3s 0.1s;
}

#arrow_2 .arrow:before {
  content: "";
  display: block;
  border: solid #fff;
  border-width: 4px 4px 0 0;
  position: absolute;
  font-weight: 900;
  top: 4px;
  width: 25px;
  height: 25px;
}

#arrow_2 .arrow.arrow--left:before {
  transform: rotate(-135deg);
  right: 0;
  transition: right 0.3s 0.2s;
}

#arrow_2 .arrow.arrow--left:hover:before {
  right: 100%;
  transition: right 0.3s;
}

#arrow_2 .arrow.arrow--right {
  text-align: right;
}

#arrow_2 .arrow.arrow--right:before {
  left: 0;
  transform: rotate(45deg);
  transition: left 0.3s 0.2s;
}

#arrow_2 .arrow.arrow--right:hover:before {
  left: 100%;
  transition: left 0.3s;
}

#arrow_2 .arrow:hover {
  transform: none;
}

/* Background Color Animation */
@keyframes bgColorTransition {
  0% {
    background-color: #00848d;
  }
  100% {
    background-color: #005f6b;
  }
}
